 #num_new {
            font-size: 36pt;
            color: #cffb4c;
        }
        #info {
        }
        body {
			background: #1F1F1F;
            padding-left: 80px;
        }
        h1 {
            font-family: "Consolas";
            color: #db0066;
            font-size: 48pt;
        }
        form, p {
            font-family: "Consolas";
            color: #0daade;
        }
        input.field {
            font-family: "Consolas";
            font-size: 14pt;
            color: #126480;
            background-color: white;
            border-color: #9e9e9e;
            border-width: medium;
        }
        input.button {
            font-family: "Consolas";
            font-size: 14pt;
            color: #126480;
            background-color: #cccccc;
            border-color: #9e9e9e;
            border-width: 1px;
        }